@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
/** SPINNER */
.fullscreen-spinner {
  background-color: rgba(0, 0, 0, 0.5);
}
.spinner-container {
  position: static;
  background-color: transparent;
  z-index: 5000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.fullscreen-spinner .spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.lds-ring {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid hsl(var(--bc));
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: hsl(var(--bc)) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.spinner-container-inline {
  justify-content: flex-start;
}
.spinner-container-inline .lds-ring {
  position: static;
  transform: scale(0.5);
}
.spinner-container-inline .lds-ring {
  width: 0;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.link-inactive {
  pointer-events: none;
}
.logo {
  font-family: "IBM Plex Serif", serif;
}
.status-inactive {
  --tw-border-opacity: 0;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  --tw-text-opacity: 0.2;
}
.sidebar {
  position: absolute;
  top: 0;
  width: 0;
  height: 100vh;
  transition: width 0.2s ease-in;
  overflow: hidden;
}
.sidebar-wide {
  width: 100vw;
}
.sidebar-active {
  background-color: hsl(var(--b3));
  border-radius: 8px;
}
.nav-icon {
  width: 30px;
  max-width: 30px;
  height: auto;
}
.container {
  margin-left: 0;
}
.burger.btn-ghost {
  background-color: transparent;
}

.project-table {
  font-family: 'Roboto', sans-serif;
  max-width: 750px;
  width: 100%;
}
.project-table .ag-header {
  background-color: rgb(32, 37, 46);
}
.project-table .ag-row-even {
  background-color: rgb(42, 48, 60);
}
.project-table .ag-row-odd {
  background-color: rgb(32, 37, 46);
}
.project-table .ag-header-cell-text {
  font-size: 1rem;
}
.drawer {
  width: 30vw !important;
  max-width: 500px !important;
}

@media (min-width: 1280px) {
  .sidebar {
    position: fixed;
    top: 0;
    width: 67px;
    height: 100vh;
    transition: width 0.2s ease-in;
  }
  .sidebar p {
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  .sidebar:hover {
    width: 134px;
  }
  .sidebar:hover p {
    opacity: 1;
  }
  .sidebar-active {
    background-color: hsl(var(--b3));
    border-radius: 8px;
  }
  .nav-icon {
    width: 30px;
    max-width: 30px;
    height: auto;
  }
  .container {
    margin-left: 150px;
  }
}